@{
    ViewBag.Title = "Print Candidate Report";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}
<style type="text/css">
    .Mandatory {
    color: red;
    font-weight: bold;
}
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/InventoryDashboard">Inventory </a> >>Customer Site Wise Report </b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditEmployee" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">

            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-6">
                    <label for="txtCustomerName" class="col-sm-4 control-label">Customer Name&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="txtCustomerName" name="txtCustomerName" tabindex="1" placeholder="Enter Customer Name" type="text" maxlength="100" />
                        <input id="hdnCustomerId" type="hidden" value="0" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="ddlCustomerBranch" class="col-sm-4 control-label">Customer Site&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <select id="ddlCustomerBranch" name="ddlCustomerBranch" tabindex="2" class="form-control"></select>
                        <input id="hdnCustomerBranchId" type="hidden" value="0" />
                    </div>
                </div>
            </div>
            
            <div class="row col-sm-12 col-lg-12 col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                        <a class="btn btn-success" tabindex="9" href="#" id="lnkGenerateReport" onclick="GenerateReportParameters();">Generate Report</a>
                        @*<input class="btn btn-success" value="Generate Report" alt="Generate Report" tabindex="3" id="btnSearch" onclick="GenerateCandidateReport()" type="button" border="0">*@&nbsp;&nbsp;
                        <input class="btn btn-success" type="button" id="btnReset" tabindex="4" onclick="ClearFields()" value="Reset" /> &nbsp;&nbsp;
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/Customer/PrintCustomerSiteReport.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>
@*<script>
        $( document ).ready(function() {
            document.getElementById("txtEmployeeName").focus();
    });
</script>*@
@*<script type="text/javascript">
    $("body").on('click', '.dropdown-toggle', function () {
        $(".dropdown-toggle").parent().toggleClass('open');
    });

</script>*@